aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.8.1
attrs==23.2.0
azure-core==1.30.1
azure-core-tracing-opentelemetry==1.0.0b11
azure-functions==1.19.0
azure-functions-durable==1.2.9
azure-monitor-opentelemetry==1.6.4
azure-monitor-opentelemetry-exporter==1.0.0b32
backoff==2.2.1
Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dataclasses-json==0.6.4
Deprecated==1.2.15
distro==1.9.0
duckduckgo-search==3.9.10
fixedint==0.1.6
frozenlist==1.4.1
furl==2.1.3
greenlet==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
hyperframe==6.0.1
idna==3.7
importlib_metadata==8.5.0
isodate==0.7.2
jsonpatch==1.33
jsonpointer==2.4
langchain==0.0.341
langchain-core==0.0.6
langsmith==0.0.92
lxml==5.2.1
marshmallow==3.21.1
msrest==0.7.1
multidict==6.0.5
mypy-extensions==1.0.0
numpy==1.26.4
oauthlib==3.2.2
openai==1.23.2
opentelemetry-api==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-dbapi==0.49b2
opentelemetry-instrumentation-django==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-instrumentation-flask==0.49b2
opentelemetry-instrumentation-psycopg2==0.49b2
opentelemetry-instrumentation-requests==0.49b2
opentelemetry-instrumentation-urllib==0.49b2
opentelemetry-instrumentation-urllib3==0.49b2
opentelemetry-instrumentation-wsgi==0.49b2
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
orderedmultidict==1.0.1
packaging==24.0
psutil==5.9.8
pydantic==2.7.0
pydantic-settings==2.6.1
pydantic_core==2.18.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==2.0.0
six==1.16.0
sniffio==1.3.1
socksio==1.0.0
SQLAlchemy==2.0.29
tenacity==8.2.3
tqdm==4.66.2
typing-inspect==0.9.0
typing_extensions==4.11.0
urllib3==2.2.1
wrapt==1.16.0
yarl==1.9.4
zipp==3.21.0